body{
    background-image: url("https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading img{
    height: 110px;
}
form{
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.758);
    width: 27rem;
    height: 30rem;
    -webkit-text-fill-color: aliceblue;

}
h2{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font: size 3rem; ;
    color: aliceblue;
    text-align:justify;
}
input[type="text"],[type="password"]{
    width: 15rem;
    height: 2.5rem;
    background-color:rgb(51, 49, 49);
    border: 1px solid rgb(42, 41, 41);
    -webkit-text-fill-color:rgb(91, 90, 90);
}
input[type="submit"]{
    background-color: red;
    width: 15rem;
    height: 2.5rem;
}
input[type="checkbox"]{
    background-color: white;
}
