body{
    background-image: url("https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading img{
    height: 110px;
}
form{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.718);
    width: 27rem;
    height: 30rem;
   -webkit-text-fill-color: white;
}
h2{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 2rem;
    color: white;
    text-align: justify;
}

input[type="text"],[type="password"]{
    width: 15rem;
    height: 2.5rem;
    background-color: rgba(82, 78, 78, 0.584);
    border: 1px solid black;
    -webkit-text-fill-color:rgb(126, 121, 121) ;
}
