body{
    background-image: url("https://wallpapers.com/images/hd/hd-rain-in-the-sea-9y4gtl014id970fm.webp");
    background-repeat:no-repeat ;
    background-size: cover;
}
form{
    width: 30rem;
    height: 25rem;
    background-color:rgba(0, 255, 255, 0.003);
    border: 1px solid white;
    margin-top: 5rem;
    padding-top: 2rem;
}
input[type="text"],[type="email"],[type="password"]{
    width: 10rem;
    height: 2rem;
    background-color:whitesmoke;
    margin-left: 5rem;

}
input[type="submit"]{
    color: black;
    background-color:rgba(0, 191, 255, 0.286);
}