body{
   
    /* background-color: beige; */
    background-image: url("https://c4.wallpaperflare.com/wallpaper/949/555/749/abstract-huawei-lights-neon-hd-wallpaper-thumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    width: 22rem;
    height: 18rem;
    background-color:rgba(240, 255, 255, 0.259);
    border: 1px solid black;
}
input[type="text"],[type="email"],[type="password"]{
    width: 10rem;
    background-color: rgba(127, 255, 212, 0.059);
    margin-left: 10rem;
}


